html.dark {
    --c-primay: #bb86fc;
    --c-primary-variant: #3700b3;
    --c-secondary: #03DAC6;
    --c-secondary-variant: #03DAC6;
    --c-background: #121212;
    --c-surface: #121212;
    --c-error: #cf6679;
    --c-on-primay: #000;
    --c-on-secondary: #000;
    --c-on-background: #fff;
    --c-on-surface: #fff;
    --c-on-error: #000;
}